In [2]:
import numpy as np
import pandas as pd

In [13]:
#df = pd.DataFrame([['a','b','c'], [1,2,3]])
#df = pd.DataFrame({'a':[1,2,3],'b':[5,6,7]})
#df = pd.DataFrame(np.random.randn(3,2))
df = pd.DataFrame(np.random.randint(1,10,6) .reshape (2,3), columns=['Cruzeiro', 'Atletico','America'],
                 index=['Gols','Vitorias'])
df

          Cruzeiro  Atletico  America
Gols             4         3        6
Vitorias         2         5        6

In [ ]:
**Selec√£o de dados**

In [14]:
type(df['Atletico'])

pandas.core.series.Series